@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
}

.container {
	width: 80%;
	/*height: 960px;*/
	margin: 0 auto;
	background: tomato;
}

.clearfix:after{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

/* ---------- ヘッダーエリア ---------- */
.header {
	background: lime;
	height: 300px;
}

h1 {
	color: yellowgreen;
	padding: 5%;
}

/* ---------- ナビエリア ---------- */

ul {
	font-size: 0;
	margin: 0;
	padding: 0;
}

.main-navi li {
	display: inline-block;
	width: 20%;
	font-size: medium;
	line-height: 3em;
	text-align: center;
	background: aqua;
}

/* ---------- メインコンテンツエリア ---------- */

.main-contant {
	background: yellowgreen;
	color: #fff;
	font-size: 1.5em;
	padding: 5%;
	margin: 5%;
	border: 5px solid #000;
	border-radius: 5%;
	float:left;
}


/* ---------- サイドバーエリア ---------- */

.sidebar {
	background: blue;
	color: #fff;
	border: 5px solid #000;
	border-radius: 5%;
	margin: 5%;
	padding: 5%;
	float: right;
}


/* ---------- フッターエリア ---------- */

.footer:after {
	content:"フッターエリア";
	display: block;
	font-size: 5em;
	line-height: 5em;
	text-align: center;
	margin: 10% auto;
	color: #ccc;
	border: 3px solid #000;
		padding: 5px;
	margin: 5%;
	background: #fff;
}
