@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
}

.container {
	width: 80%;
	height: 960px;
	margin: 0 auto;
	background: tomato;
}

.header {
	background: lime;
	height: 300px;
}

h1 {
	color: yellowgreen;
	padding: 5%;
}

.contant-p {
	color: blue;
	font-size: 2em;
	padding: 0;
	margin: 5%;
	border: 2px solid yellow;
}

.footer:after {
	content:"フッターエリア";
	display: block;
	font-size: 5em;
	line-height: 5em;
	margin: 10% auto;
	color: #ccc;
	border: 3px solid #000;
		padding: 5px;
	margin: 5%;
	background: #fff;
}

.content-text {
	margin: 5%;
	font-size: 1.2em;
	color: #808080;
}
